<div class = "container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community 
    for developers and entreprenuers to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Reprehenderit, laboriosam, cupiditate, nulla
    esse distinctio beatae et fugiat qui facilis rerum eveniet quisquam
    voluptatem delectus eius nam exercitationem quam ad quasi!</p>
</div>